body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f3f6;
}

.title-app{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
}

.title-app span{
    color: #21b8c6;
}

.container{
    width: 952px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.card{
    box-sizing: border-box;
    background-size: cover;
    width: 238px;
    height: 190px;
    margin: 5px;
}

md-dialog.dialog-detail{
    width: 752px;
    height: 550px;
}

md-dialog.dialog-detail md-dialog-content{
    height: 100%;
}

.dialog-content-flex{
    display: flex;
    height: 96%;
}

.image-block{
    background-size: cover;
    position: relative;
    width: 55%;
    overflow: hidden;
}

.image-actions{
    position: absolute;
    background-color: rgba(245, 247, 245, 0);
    width: 100%;
    height: 12%;
    bottom: -12%;
    transition: bottom 0.3s, background-color 0.2s,background 0.2s ;
    display: flex;
    justify-content: flex-end;
}

.image-actions > div{
    position: relative;
    width: 15%;
    margin-right: 5px;
}

.dislike{
    background: rgba(209, 35, 36, 0)
    url("./assets/img/dislike_icon_active.png") no-repeat center;
}

.like{
    background: rgba(35, 209, 207, 0)
    url("./assets/img/like icon_active.png") no-repeat center;
}

.image-block:hover .image-actions{
    background-color: rgba(245, 247, 245, 0.95);
    bottom: 0;
}

.image-block:hover .image-actions .dislike{
    background-color: rgba(209, 35, 36 , 1);
    bottom: 0;
}

.image-block:hover .image-actions .like{
    background-color: rgba(35, 209, 207 , 1);
    bottom: 0;
}

.dislike .gray-background{
    background: rgba(224, 229, 233, 1) url("./assets/img/dislike_icon_normal.png") no-repeat center;;
}

.like .gray-background{
    background: rgba(224, 229, 233, 1) url("./assets/img/like_icon_normal.png") no-repeat center;;
}

.gray-background{
    opacity: 1 ;
    position: relative;
    top: -5px;
    height: 100%;
    z-index: 1;
    background-color: rgba(224, 229, 233, 0);
    transition: top 0.6s, opacity 0.6s;
}

.action-active
{
    top: 0;
    opacity: 0;
    background-color: rgba(224, 229, 233, 0);
}

.comment-header{
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
}

.comment-owner{
    align-self: flex-start;
}

.comment-date{
    margin-left: auto;
    align-self: flex-end;
}

.comment-text{
    font-size: 14px;
}

.comments-block{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-right: 3%;
    padding-left: 4%;
    height: 100%;
    box-sizing: border-box;
}

.comments{
    border-bottom: 2px solid #f3f5f8;
    overflow: auto;
    padding-right: 20px;
    height: 70%;
}

.comments-count{
    font-size: 25px;
    color: #8b9ea9;
    margin: 10px 0;
}

.add-comment-form{
    margin-top: auto;
    font-size: 14px;
}

.comment-text{
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #eff3f6;
}

.comment{
    margin-top:5px ;
    margin-bottom: 5px ;
}

.nickname-input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #f3f5f8;
    margin-bottom: 10px;
}

.comment-input{
    width: 100%;
    border: 2px solid #f3f5f8;
}

.count{
    height: inherit;
}

.comments::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #d1dae3;
}

.comments::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.comments::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: #52c6d3;
}

md-backdrop.md-opaque{
    opacity: .70;
    background-color: ghostwhite;
}