body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f3f6;
}

.title-app{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
}

.title-app span{
    color: #21b8c6;
}

.container{
    width: 952px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.card{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    width: 238px;
    height: 190px;
    margin: 5px;
}

md-dialog.dialog-detail{
    width: 752px;
    height: 550px;
}

md-dialog.dialog-detail md-dialog-content{
    height: 100%;
}

.dialog-content-flex{
    display: flex;
    height: 96%;
}

.image-block{
    background-size: cover;
    position: relative;
    width: 55%;
    overflow: hidden;
}

.image-actions{
    position: absolute;
    background-color: rgba(245, 247, 245, 0);
    width: 100%;
    height: 12%;
    bottom: -12%;
    transition: bottom 0.3s, background-color 0.2s,background 0.2s ;
    display: flex;
    justify-content: flex-end;
}

.image-actions > div{
    position: relative;
    width: 15%;
    margin-right: 5px;
}

.dislike{
    cursor: pointer;
    opacity: 0;
    background: rgba(35, 209, 207, 0)
    url("./assets/img/dislike_icon_active.png") no-repeat center;
}

.like{
    cursor: pointer;
    opacity: 0;
    background: rgba(35, 209, 207, 0)
    url("./assets/img/like icon_active.png") no-repeat center;
}

.image-block:hover .image-actions{
    background-color: rgba(245, 247, 245, 0.95);
    bottom: 0;
}

.image-block:hover .image-actions .dislike{
    opacity: 1;
    background-color: rgba(209, 35, 36 , 1);
    bottom: 0;
}

.image-block:hover .image-actions .like{
    opacity: 1;
    background-color: rgba(35, 209, 207 , 1);
    bottom: 0;
}

.dislike .gray-background{
    background: rgba(224, 229, 233, 1) url("./assets/img/dislike_icon_normal.png") no-repeat center;;
}

.like .gray-background{
    background: rgba(224, 229, 233, 1) url("./assets/img/like_icon_normal.png") no-repeat center;;
}

.image-block:hover .gray-background{
    opacity: 1;
}

.gray-background{
    opacity: 0 ;
    position: relative;
    top: -5px;
    height: 100%;
    z-index: 1;
    background-color: rgba(224, 229, 233, 0);
    transition: top 0.6s;
}

.image-block:hover .action-active
{
    top: 0;
    opacity: 0;
    background-color: rgba(224, 229, 233, 0);
    transition: opacity 0.6s;
}

.count{
    position: absolute;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
    top: 17%;
    left: 60%;
    color: #48949d;
    font-size: 10px;
    background-color: white;
    border-radius: 50%;
}

.count-normal{
    border: 2px solid #a0b0ba;
}

.count-active{
    border: 2px solid white;
}

.comment-header{
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
}

.comment-owner{
    align-self: flex-start;
}

.comment-date{
    margin-left: auto;
    align-self: flex-end;
}

.comment-text{
    font-size: 14px;
}

.comments-block{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-right: 2%;
    padding-left: 4%;
    height: 100%;
    box-sizing: border-box;
}

.comments{
    border-bottom: 2px solid #f3f5f8;
    overflow: auto;
    padding-right: calc(8% - 6px);
    height: 70%;
}

.comments-count{
    font-size: 25px;
    color: #8b9ea9;
    margin: 10px 0;
}

.add-comment-form{
    margin-top: auto;
    font-size: 14px;
}

.comment-text{
    padding: 5px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #eff3f6;
}

.comment{
    margin-top:5px ;
    margin-bottom: 5px ;
}

.nickname-input{
    box-sizing: border-box;
    padding-left: 5px;
    width: 92%;
    border: none;
    border-bottom: 2px solid #f3f5f8;
    margin-bottom: 10px;
}

.comment-input{
    border: 2px solid #f3f5f8;
    border-right: none;
    height: 40px;
    flex-grow: 1;
}

.add-comment-text{
    display: flex;
    width: 92%;
}

.send-btn{
    cursor: pointer;
    width: 50px;
    border-radius: 2px;
    background: #21b8c6 url("./assets/img/send icon.png") no-repeat center;
    transition: background-color 0.4s;
}

.send-btn:hover{
    background-color: #2199ff;
}

.close-btn{
    background:
    url("./assets/img/close icon.png") no-repeat center;
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 10px;
    top: 10px;
}

input[class='nickname-input']{

}

input[class='nickname-input']:focus{

}

.detail-img-bar{
    position: absolute;
    background-color: rgba(245, 247, 245, 0);
    width: 100%;
    height: 30%;
    opacity: 0;
    bottom: -30%;
    transition: bottom 0.3s, background-color 0.2s,background 0.2s, opacity 0.2s ;
    display: flex;
}

.detail-img-bar .detail-bar-item{
    position: relative;
    width: 25%;
}

.detail-img-bar .like-count{
    background: url("./assets/img/like_icon_normal.png") no-repeat center;
}

.detail-img-bar .dislike-count{
    margin-left: auto;
    background: url("./assets/img/dislike_icon_normal.png") no-repeat center;
}

.detail-img-bar .comment-count{
    background: url("./assets/img/comment icon.png") no-repeat center;
}

.card:hover .detail-img-bar{
    background-color: rgba(245, 247, 245, 0.95);
    bottom: 0;
    opacity: 1;
}

.count-small{
    line-height: 14px;
    height: 14px;
    width: 14px;
    font-size: 9px;
}

.img-add-card{
    display: flex;
}

.rounded-block-with-plus{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #21b8c6 url("./assets/img/plus_icon.png") no-repeat center;
}

.description-card{
    color: #aebcc4;
    font-size: 14px;
}

.height-block-btn{
    display: flex;
    height: calc(50% + 25px);
}

.height-block-description{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    text-align: center;
}

.comments::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #d1dae3;
}

.comments::-webkit-scrollbar,
textarea::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.comments::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: #52c6d3;
}


textarea{
    resize: none;
}

html{
    background: none;
}

md-backdrop.md-opaque{
    opacity: .70;
    background-color: ghostwhite;
}

*:focus {
    outline: none;
}
