.container{
    width: 952px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.card{
    box-sizing: border-box;
    background-size: cover;
    width: 238px;
    height: 190px;
    border-radius: 4px;
    margin: 5px;
}

.square{
    height: 200px;
    width: 200px;

    background: no-repeat center center;
    background-size: cover;
}