<md-dialog ng-controller="ImageDetailController" class="dialog-detail">
    <md-dialog-content>
        <div class="dialog-content-flex">
            <div class="image-block" ng-style="{'background-image':'url(' + image.image_url + ')'}">
                <div class="image-actions">
                    <div class="dislike" ng-click="setDislike()" >
                        <div class="gray-background" ng-class="{'action-active': dislike}">
                            <div class="count">4</div>
                        </div>
                    </div>
                    <div class="like" ng-click="setLike()" >
                        <div class="gray-background" ng-class="{'action-active': like}">
                            <div class="count">5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments-block">
                <div class="comments-count">
                    Comments: {{image.comments.length}}
                </div>

                <div class="comments">
                    <div ng-repeat="comment in image.comments" class="comment">
                        <div class="comment-header">
                            <div class="comment-owner">
                                By {{comment.own}}
                            </div>
                            <div class="comment-date">
                                {{comment.data | date: 'shortTime'}}
                            </div>
                        </div>
                        <div class="comment-text">
                            {{comment.text}}
                        </div>
                    </div>
                </div>
                <div class="add-comment-form">
                    <input type="text" placeholder="Type your nickname..." class="nickname-input">
                    <textarea class="comment-input" placeholder="Write your comment here..."></textarea>
                </div>

            </div>
        </div>
    </md-dialog-content>
</md-dialog>