<md-dialog ng-controller="ImageDetailController" class="dialog-detail">
    <md-dialog-content>
        <div class="detail-dialog-content">
            <div class="close-btn" ng-click="close()"></div>
            <div class="image-block" ng-style="{'background-image':'url(' + image.image_url + ')'}">
                <div class="image-actions-bar">
                    <div class="action-item dislike normal-item" ng-click="setDislike()" ng-class="{'action-active': dislike}">
                            <div class="count count-middle">{{countActions(image, 'dislike')}}</div>
                    </div>
                    <div class="action-item like normal-item" ng-click="setLike()" ng-class="{'action-active': like}">
                        <div class="count count-middle">{{countActions(image, 'like')}}</div>
                    </div>
                </div>
            </div>
            <div class="comments-block">
                <div class="comments-count">
                    Comments: {{image.comments.length}}
                </div>

                <div class="comments">
                    <div ng-repeat="comment in image.comments | reverse" class="comment">
                        <div class="comment-header">
                            <div class="comment-owner">
                                By {{comment.own}}
                            </div>
                            <div class="comment-date">
                                {{comment.data | date: 'shortTime'}}
                            </div>
                        </div>
                        <div class="comment-text">
                            {{comment.text}}
                        </div>
                    </div>
                </div>

                <div class="add-comment-form">
                    <form name="commentForm" layout="column">
                        <input type="text" placeholder="Type your nickname..." class="nickname-input" required
                               ng-model="nickname">
                        <div class="comments-inpunts" layout="row">
                            <textarea class="comment-input"  placeholder="Write your comment here..." required
                                      ng-model="commentText"></textarea>
                            <div class="send-btn" ng-click="addComment(nickname, commentText)"></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </md-dialog-content>
</md-dialog>