<md-dialog ng-controller="AddImageController" toaster-options="{'time-out': 5000}" class="dialog-add-image">

    <md-dialog-content class="add-image-dialog-content" layout="column">

        <div class="close-btn" ng-click="close()"></div>
        <!--<div class="example-image" ng-style="{'background-image':'url(' + imageUrl + ')'}"></div>-->
        <div style="width: 90%; margin: 15px auto ">
            <form name="addImageForm">
                <div>
                    <!--<md-input-container class="image-url-input">
                        <label>Image URL</label>
                        <input ng-model="imageUrl" required>
                    </md-input-container>-->
                </div>

                <div layout="row" layout-align="end center" layout-wrap>
                    <input type="file" ng-model="file" name="file" base-sixty-four-input onload="onLoad" accept="image/*">
                    <md-button class="md-warn" ng-click="close()">Cancel</md-button>
                    <md-button md-no-ink class="md-primary" ng-disabled="!addImageForm.$valid" ng-click="addImage()">Add</md-button>
                </div>
            </form>
        </div>

    </md-dialog-content>
</md-dialog>