body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f3f6; }

.title-app {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
  margin-left: 28px;
  margin-top: 18px; }
  .title-app .blue-font {
    color: #21b8c6; }
  .title-app .gray-font {
    color: #8499a7; }

.galleryGrid {
  margin: 0 20px 30px;
  height: 600px;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 30px; }

.image-card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  width: 238px;
  height: 190px; }

.actions-hover-place {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%; }
  .actions-hover-place .menu {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.95;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    background-color: whitesmoke;
    transform: scale(0);
    transition: transform 0.1s; }
  .actions-hover-place:hover .menu {
    background-color: whitesmoke;
    transform: scale(1); }

md-dialog.dialog-detail {
  width: 752px;
  height: 550px; }
  md-dialog.dialog-detail md-dialog-content {
    height: 100%; }
    md-dialog.dialog-detail md-dialog-content .detail-dialog-content {
      display: -ms-flexbox;
      display: flex;
      height: 96%; }
      md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block {
        background-size: cover;
        position: relative;
        width: 55%;
        overflow: hidden; }
        md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block .image-actions-bar {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: end;
          justify-content: flex-end;
          position: absolute;
          background-color: rgba(245, 247, 245, 0);
          width: 100%;
          height: 60px;
          bottom: -60px;
          transition: bottom 0.3s, background-color 0.2s, background 0.2s; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block .image-actions-bar .action-item {
            position: relative;
            width: 65px;
            margin-right: 5px;
            cursor: pointer;
            opacity: 0; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block .image-actions-bar .normal-item {
            opacity: 0;
            position: relative;
            top: -5px;
            height: 100%;
            z-index: 1;
            background-color: rgba(224, 229, 233, 0);
            transition: top 0.6s, background-color 0.6s; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block .image-actions-bar .dislike.normal-item {
            background: #e0e5e9 url("../img/dislike_icon_normal.png") no-repeat center; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block .image-actions-bar .like.normal-item {
            background: #e0e5e9 url("../img/like_icon_normal.png") no-repeat center; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block .image-actions-bar .action-active .count {
            border: 2px solid white; }
        md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block:hover .action-active {
          top: 0;
          opacity: 0;
          background-color: rgba(224, 229, 233, 0);
          transition: opacity 0.6s; }
        md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block:hover .image-actions-bar {
          background-color: rgba(245, 247, 245, 0.95);
          bottom: 0; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block:hover .image-actions-bar .action-item {
            bottom: 0;
            opacity: 1; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block:hover .image-actions-bar .dislike.action-active {
            transition: top 0.6s, background 0.6s;
            background: #d12324 url("../img/dislike_icon_active.png") no-repeat center; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block:hover .image-actions-bar .like.action-active {
            transition: top 0.6s, background 0.6s;
            background: #23d1cf url("../img/like icon_active.png") no-repeat center; }
          md-dialog.dialog-detail md-dialog-content .detail-dialog-content .image-block:hover .image-actions-bar .normal-item {
            opacity: 1; }

.count {
  position: absolute;
  text-align: center;
  top: 17%;
  left: 60%;
  color: #48949d;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #a0b0ba; }

.count-middle {
  line-height: 16px;
  height: 16px;
  width: 16px;
  font-size: 10px; }

.count-small {
  line-height: 14px;
  height: 14px;
  width: 14px;
  font-size: 9px; }

.comments-block {
  padding-top: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 45%;
  padding-right: 2%;
  padding-left: 4%;
  height: 100%;
  box-sizing: border-box; }
  .comments-block .comments {
    border-bottom: 2px solid #f3f5f8;
    overflow: auto;
    padding-right: calc(8% - 6px);
    height: 70%; }
    .comments-block .comments .comment {
      margin-top: 5px;
      margin-bottom: 5px; }
      .comments-block .comments .comment .comment-header {
        font-size: 11px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 3px;
        color: #b5c1c9; }
        .comments-block .comments .comment .comment-header .comment-owner {
          margin-right: auto; }
        .comments-block .comments .comment .comment-header .comment-date {
          margin-left: auto; }
    .comments-block .comments .comment-text {
      font-size: 14px;
      overflow-wrap: break-word; }
  .comments-block .comments-count {
    font-size: 25px;
    color: #8b9ea9;
    margin: 10px 0;
    font-weight: 600; }
  .comments-block .add-comment-form {
    margin-top: auto;
    font-size: 14px; }
    .comments-block .add-comment-form .nickname-input {
      box-sizing: border-box;
      padding-left: 5px;
      width: calc(96% - 6px);
      border: none;
      border-bottom: 2px solid #f3f5f8;
      margin-bottom: 10px;
      transition: border-color 0.3s; }
      .comments-block .add-comment-form .nickname-input:focus {
        border-color: #21b8c6; }
    .comments-block .add-comment-form .comments-inpunts {
      width: calc(96% - 6px); }
      .comments-block .add-comment-form .comments-inpunts .comment-input {
        border: 2px solid #f3f5f8;
        border-right: none;
        box-sizing: border-box;
        padding: 5px;
        height: 50px;
        border-radius: 2px;
        -ms-flex-positive: 1;
        flex-grow: 1;
        transition: border-color 0.3s; }
        .comments-block .add-comment-form .comments-inpunts .comment-input:focus {
          border-color: #21b8c6; }

.send-btn {
  display: block;
  cursor: pointer;
  width: 50px;
  border-radius: 2px;
  background: #21b8c6 url("../img/send icon.png") no-repeat center;
  transition: background-color 0.4s; }
  .send-btn:hover {
    background-color: #2199ff; }

.close-btn {
  background: white url("../img/close icon.png") no-repeat center;
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  z-index: 10; }

.detail-img-bar {
  position: absolute;
  background-color: rgba(245, 247, 245, 0);
  width: 100%;
  height: 60px;
  opacity: 0;
  bottom: -30%;
  transition: bottom 0.3s, background-color 0.2s, background 0.2s, opacity 0.2s;
  display: -ms-flexbox;
  display: flex; }
  .detail-img-bar .detail-bar-item {
    position: relative;
    width: 59px; }
  .detail-img-bar .like-count {
    background: url("../img/like_icon_normal.png") no-repeat center; }
  .detail-img-bar .dislike-count {
    margin-left: auto;
    background: url("../img/dislike_icon_normal.png") no-repeat center; }
  .detail-img-bar .comment-count {
    background: url("../img/comment icon.png") no-repeat center; }

.image-card:hover .detail-img-bar {
  background-color: rgba(245, 247, 245, 0.95);
  bottom: 0;
  opacity: 1; }

.centered-plus-icon {
  display: -ms-flexbox;
  display: flex;
  height: calc(50% + 25px); }
  .centered-plus-icon .plus-icon {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #21b8c6 url("../img/plus_icon.png") no-repeat center; }

.add-img-card-description {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  color: #aebcc4;
  font-size: 14px;
  text-align: center; }

md-dialog.dialog-add-image {
  width: 650px;
  height: 460px; }
  md-dialog.dialog-add-image .add-image-dialog-content {
    height: 100%; }
    md-dialog.dialog-add-image .add-image-dialog-content .example-image {
      background-size: cover;
      position: relative;
      width: 100%;
      height: 85%;
      overflow: hidden; }
    md-dialog.dialog-add-image .add-image-dialog-content .actions-block {
      width: 90%;
      height: 15%;
      margin: 0 auto; }

.full-height {
  height: 100%; }

.width-1-col {
  width: 238px; }

.width-2-col {
  width: 486px; }

.height-1-col {
  height: 190px; }

.height-2-col {
  height: 390px; }

.comments::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d1dae3; }

.galleryGrid::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #d1dae3; }

.galleryGrid::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #21b8c6; }

.comments::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

.galleryGrid::-webkit-scrollbar {
  height: 10px;
  background-color: #F5F5F5; }

.comments::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #21b8c6; }

textarea {
  resize: none; }

html {
  background: none; }

md-backdrop.md-opaque {
  opacity: .70;
  background-color: ghostwhite; }

button {
  border: none; }

*:focus {
  outline: none; }
