$light_blue: #21b8c6;
$darken_white:  #f0f3f6;
$gray: #d1dae3;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $darken_white;
}

.title-app {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
  margin-left: 28px;
  margin-top: 18px;

  .blue-font {
    color: $light_blue;
  }

  .gray-font {
    color: #8499a7;
  }
}

.galleryGrid {
  margin: 0 20px 30px;
  height: 600px;
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 30px;
}

.image-card {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  width: 238px;
  height: 190px;
}

.actions-hover-place {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;

  .menu {
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0.95;
    height: 30px;
    border: 1px solid #a0b0ba;
    border-radius: 50%;
    width: 30px;
    background: whitesmoke url("../img/button-of-three-vertical-squares.png") no-repeat center;
    transform: scale(0);
    transition: transform 0.1s;
  }

  &:hover .menu {
    background-color: whitesmoke;
    transform: scale(1);
  }
}

md-dialog.dialog-detail {
  width: 752px;
  height: 550px;

  md-dialog-content {
    height: 100%;

    .detail-dialog-content {
      display: flex;
      height: 96%;

      .image-block {
        background-size: cover;
        position: relative;
        width: 55%;
        overflow: hidden;

        .image-actions-bar {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          background-color: rgba(245, 247, 245, 0);
          width: 100%;
          height: 60px;
          bottom: -60px;
          transition: bottom 0.3s, background-color 0.2s, background 0.2s;

          .action-item {
            position: relative;
            width: 65px;
            margin-right: 5px;
            cursor: pointer;
            opacity: 0;
          }

          .normal-item {
            opacity: 0;
            position: relative;
            top: -5px;
            height: 100%;
            z-index: 1;
            background-color: rgba(224, 229, 233, 0);
            transition: top 0.6s, background-color 0.6s;
          }

          .dislike.normal-item {
            background: rgba(224, 229, 233, 1) url("../img/dislike_icon_normal.png") no-repeat center;
          }

          .like.normal-item {
            background: rgba(224, 229, 233, 1) url("../img/like_icon_normal.png") no-repeat center;
          }

          .action-active{
            .count{
              border: 2px solid white;
            }
          }
        }

        &:hover{
          .action-active {
            top: 0;
            opacity: 0;
            background-color: rgba(224, 229, 233, 0);
            transition: opacity 0.6s;
          }

          .image-actions-bar {
            background-color: rgba(245, 247, 245, 0.95);
            bottom: 0;

            .action-item {
              bottom: 0;
              opacity: 1;
            }

            .dislike.action-active {
              transition: top 0.6s, background 0.6s;
              background: rgba(209, 35, 36, 1) url("../img/dislike_icon_active.png") no-repeat center;
            }

            .like.action-active {
              transition: top 0.6s, background 0.6s;
              background: rgba(35, 209, 207, 1) url("../img/like icon_active.png") no-repeat center;
            }

            .normal-item {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.count{
  position: absolute;
  text-align: center;
  top: 17%;
  left: 60%;
  color: #48949d;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #a0b0ba;
}

.count-middle {
  line-height: 16px;
  height: 16px;
  width: 16px;
  font-size: 10px;
}

.count-small {
  line-height: 14px;
  height: 14px;
  width: 14px;
  font-size: 9px;
}

.comments-block {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-right: 2%;
  padding-left: 4%;
  height: 100%;
  box-sizing: border-box;

  .comments {
    border-bottom: 2px solid #f3f5f8;
    overflow: auto;
    padding-right: calc(8% - 6px);
    height: 70%;

    .comment {
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;

      .delete-button{
        background: whitesmoke url("../img/rubbish-bin.png") no-repeat center;
        background-size: 13px;
        border: 1px solid #b5c1c9;
        width: 20px;
        height: 20px;
        position: absolute;
        right: -10px;
        border-radius: 50%;
        bottom: -10px;
        transform: scale(0);
        transition: transform 0.2s;
      }
      .comment-header {
        font-size: 11px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3px;
        color: #b5c1c9;

        .comment-owner {
          margin-right: auto;
        }

        .comment-date {
          margin-left: auto;
        }

      }
      &:hover{
        .delete-button{
          transform: scale(1);
        }
      }
    }

    .comment-text {
      font-size: 14px;
      overflow-wrap: break-word;
      padding: 5px;
      box-sizing: border-box;
      border-radius: 2px;
      border: 2px solid $darken_white;
    }
  }

  .comments-count {
    font-size: 25px;
    color: #8b9ea9;
    margin: 10px 0;
    font-weight: 600;
  }

  .add-comment-form {
    margin-top: auto;
    font-size: 14px;

    .nickname-input {
      box-sizing: border-box;
      padding-left: 5px;
      width: calc(96% - 6px);
      border: none;
      border-bottom: 2px solid #f3f5f8;
      margin-bottom: 10px;
      transition: border-color 0.3s;

      &:focus{
        border-color: $light_blue;
      }
    }

    .comments-inpunts {
      width: calc(96% - 6px);

      .comment-input {
        border: 2px solid #f3f5f8;
        border-right: none;
        box-sizing: border-box;
        padding: 5px;
        height: 50px;
        border-radius: 2px;
        flex-grow: 1;
        transition: border-color 0.3s;

        &:focus{
          border-color: $light_blue;
        }
      }
    }
  }
}

.send-btn {
  display: block;
  cursor: pointer;
  width: 50px;
  border-radius: 2px;
  background: $light_blue url("../img/send icon.png") no-repeat center;
  transition: background-color 0.4s;

  &:hover {
    background-color: #2199ff;
  }
}

.close-btn {
  background: white url("../img/close icon.png") no-repeat center;
  cursor: pointer;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  z-index: 10;
}

.detail-img-bar {
  position: absolute;
  background-color: rgba(245, 247, 245, 0);
  width: 100%;
  height: 60px;
  opacity: 0;
  bottom: -30%;
  transition: bottom 0.3s, background-color 0.2s, background 0.2s, opacity 0.2s;
  display: flex;

  .detail-bar-item {
    position: relative;
    width: 59px;
  }

  .like-count {
    background: url("../img/like_icon_normal.png") no-repeat center;
  }

  .dislike-count {
    margin-left: auto;
    background: url("../img/dislike_icon_normal.png") no-repeat center;
  }

  .comment-count {
    background: url("../img/comment icon.png") no-repeat center;
  }
}

.image-card:hover .detail-img-bar {
  background-color: rgba(245, 247, 245, 0.95);
  bottom: 0;
  opacity: 1;
}

.centered-plus-icon {
  display: flex;
  height: calc(50% + 25px);

  .plus-icon {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: $light_blue url("../img/plus_icon.png") no-repeat center;
  }
}

.add-img-card-description {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  color: #aebcc4;
  font-size: 14px;
  text-align: center;
}

md-dialog.dialog-add-image {
  width: 650px;
  height: 460px;

  .add-image-dialog-content {
    height: 100%;

    .example-image {
      background-size: cover;
      position: relative;
      width: 100%;
      height: 85%;
      overflow: hidden;
    }

    .actions-block {
      width: 90%;
      height: 15%;
      margin: 0 auto;
    }
  }

}

.full-height {
  height: 100%;
}

.width-1-col {
  width: 238px;
}

.width-2-col {
  width: 486px;
}

.height-1-col {
  height: 190px;
}

.height-2-col {
  height: 390px;
}

.comments::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: $gray;
}

.galleryGrid::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: $gray;
}

.galleryGrid::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: $light_blue;
}

.comments::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.galleryGrid::-webkit-scrollbar {
  height: 10px;
  background-color: #F5F5F5;
}

.comments::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $light_blue;
}

textarea {
  resize: none;
}

html {
  background: none;
}

md-backdrop.md-opaque {
  opacity: .70;
  background-color: ghostwhite;
}

button{
  border: none;
}

*:focus {
  outline: none;
}

