<toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
<div class="title-app">
    <span class="gray-font">Welcome to Viseven <span class="blue-font">ImageStock</span></span>
</div>
<div class="galleryGrid" the-freewall id="galleryGrid">
    <md-card class="image-card" ng-class="[resizeImage.width, resizeImage.height]" ng-repeat="resizeImage in resizingImages" ng-style="{'background-image':'url(' + resizeImage.image.imageUrl + ')'}" repeat-brick
             ng-click="toDetail($event, resizeImage.image)">
        <div class="actions-hover-place">
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-fab md-mini menu" aria-label="Actions" ng-click="openMenu($mdMenu, $event); $event.stopPropagation()">
                        <md-icon md-svg-src="app/assets/svg/three.svg" ></md-icon>
                    </md-button>

                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="showConfirmForDelete($event, resizeImage.image);">
                                <div layout="row" flex>
                                    <p flex>Delete</p>
                                    <md-icon md-menu-align-target md-svg-icon="app/assets/svg/delete.svg" style="margin: auto 0"></md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
        </div>
        <div class="detail-img-bar">
            <div class="detail-bar-item comment-count">
                <div class="count count-small">{{resizeImage.image.comments.length}}</div>
            </div>
            <div class="detail-bar-item dislike-count">
                <div class="count count-small">{{countActions(resizeImage.image, 'dislike')}}</div>
            </div>
            <div class="detail-bar-item like-count">
                <div class="count count-small">{{countActions(resizeImage.image, 'like')}}</div>
            </div>
        </div>
    </md-card>
    <md-card class="image-card"  ng-click="addImage($event)"  data-position="0-0">
        <div class="centered-plus-icon">
            <div class="plus-icon"></div>
        </div>
        <div class="add-img-card-description">
            Add your Picture
        </div>
    </md-card>
</div>

<script>
    $(document).ready(function () {
        var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
        var container = document.querySelector('.galleryGrid');
        if (!container) {
            return;
        }
        new MutationObserver(function(mutations) {
            $(window).trigger("resize");
        }).observe(container, {
            childList: true
        });
    });
</script>
