<toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
<div class="galleryGrid" the-freewall>
    <md-card class="card" ng-class="[resizeImage.width, resizeImage.height]" ng-repeat="resizeImage in resizingImages" ng-style="{'background-image':'url(' + resizeImage.image.imageUrl + ')'}" repeat-brick
             ng-click="toDetail($event, resizeImage.image)">
        <div class="actions-hover-place">
            <div class="menu">
            </div>
        </div>
        <div class="detail-img-bar">
            <div class="detail-bar-item comment-count">
                <div class="count count-small">{{resizeImage.image.comments.length}}</div>
            </div>
            <div class="detail-bar-item dislike-count">
                <div class="count count-small">{{countActions(resizeImage.image, 'dislike')}}</div>
            </div>
            <div class="detail-bar-item like-count">
                <div class="count count-small">{{countActions(resizeImage.image, 'like')}}</div>
            </div>
        </div>
    </md-card>
    <md-card class="card" ng-click="addImage($event)" data-position="0-0" >
        <div class="centered-plus-icon">
            <div class="plus-icon"></div>
        </div>
        <div class="add-img-card-description">
            Add your Picture
        </div>
    </md-card>
</div>

